name: 'Menhir'
scopeName: 'source.menhir'
type: 'tree-sitter'
parser: 'tree-sitter-menhir'

fileTypes: [
  'mly'
]

folds: [
  {
    type: [
      'ocaml_comment'
      'comment'
    ]
  }
  {
    type: [
      'header'
      'action'
      'type'
      'attribute'
    ]
    start: {index: 0}
    end: {index: -1}
  }
  {
    type: 'new_rule'
    start: {type: 'equality_symbol'}
  }
  {
    type: 'old_rule'
    start: {type: '":"'}
  }
]

comments:
  start: '// '

scopes:
  'source_file': 'source.menhir'

  'comment': 'comment.block'
  'ocaml_comment': 'comment.block'
  'line_comment': 'comment.line'

  '"%parameter"': 'keyword.operator'
  '"%token"': 'keyword.operator'
  '"%left"': 'keyword.operator'
  '"%right"': 'keyword.operator'
  '"%nonassoc"': 'keyword.operator'
  '"%type"': 'keyword.operator'
  '"%start"': 'keyword.operator'
  '"%attribute"': 'keyword.operator'
  '"%on_error_reduce"': 'keyword.operator'
  '"%public"': 'keyword.other.special-method'
  '"%inline"': 'keyword.other.special-method'

  '"let"': 'storage.type.function'
  '":="': 'keyword.control'
  '"=="': 'keyword.control'
  '"~"': 'keyword.operator'

  '"="': 'keyword.operator'
  '"?"': 'keyword.operator'
  '"*"': 'keyword.operator'
  '"+"': 'keyword.operator'
  '"|"': 'keyword.control'
  '":"': 'keyword.control'
  '";"': 'keyword.control'
  '"%%"': 'keyword.control'
  '"%%"': 'keyword.control'
  '","': 'punctuation.definition.separator'
  '"<"': 'punctuation.section.embedded'
  '">"': 'punctuation.section.embedded'
  '"{"': 'punctuation.section.embedded'
  '"}"': 'punctuation.section.embedded'
  '"%{"': 'punctuation.section.embedded'
  '"%}"': 'punctuation.section.embedded'
  '"[@"': 'punctuation.section.embedded'
  'attribute > "]"': 'punctuation.section.embedded'

  'old_rule > symbol': 'entity.name.function'
  'new_rule > lid': 'entity.name.function'
  'uid': 'entity.name.type.variant.ocaml'
  'lid':
    match: /^(endrule|midrule|option|ioption|boption|loption|pair|separated_pair|preceded|terminated|delimited|list|nonempty_list|separated_list|separated_nonempty_list|rev|flatten|append)$/
    scopes: 'support.function'
